body{
    margin-left: 60px;
}
#buttonField {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: white;
    height: 320px;
    width: 150px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

button {
    width: 12px;
    height: 45px;
    margin: 2px;
}

input {text-align: right;
    width: 150px;
    height: 45px;
    margin: 5px;
}


